/* pomodoro.css */

/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.pomodoro {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #7977e9;
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    background-color: #8290F5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #7877dd;
}

#pomodoroTimer {
    font-size: 40px;
    color: #333;
    margin-top: 20px;
}

/* Estilos para botão de parar */
#stopButton {
    background-color: #e4605e;
}

#stopButton:hover {
    background-color: #f34336;
}
