/* Importação de Fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Reset de Estilos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos Globais */
body {
    font-family: 'Rubik';
    font-style: inherit;
    background-color: #ebf3ff;
    padding-top: 100px; /* Adicionando um espaço superior equivalente à altura do cabeçalho */
}


/* Cabeçalho */
header {
    background-color: #8290f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 10%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999; /* Para garantir que o cabeçalho fique acima de outros elementos */
}



h1 {
    color: #ffffff;
    font-size: 40px;
}

/* Navegação */
.nav_links {
    list-style: none;
    background-color: #8290f5;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
    font-size: 20px;
}

.nav_links li a:hover {
    color: #fec868;
}

/* Título da Seção */
h2 {
    margin: 2% auto 0; 
    width: 50%;
}


/* Imagem */
img {
    display: block; 
    margin: auto;
    border-radius: 10px;
    max-width: 50%; 
    height: auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    border: 2px solid #ddd; 
}

/* Parágrafo */
p {
    text-align-last: center;
    vertical-align: auto;
    line-height: 1.5;
    margin: 0 auto 0.5%;
    width: 50%;
    font-size: large;
}

/* footer */

footer {
    background-color:  #8290f5;
    color: white;
    text-align: center;
    padding: 0.5rem;
    margin: 2% auto 0;
    width: 100%;
}

footer p {
    margin: auto;
}

/* Para telas pequenas */
@media screen and (max-width: 767px) {
    header {
        padding: 2% 5%;
    }
    
    h1 {
        font-size: 30px;
    }
    
    .nav_links li {
        padding: 0 10px;
    }
    
    .nav_links li a {
        font-size: 16px;
    }
    
    h2, p {
        width: 80%;
    }
    
    img {
        max-width: 80%;
    }
    
    p {
        width: 80%;
        font-size: medium;
    }
}

/* Para telas médias e grandes */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 40px;
    }
    
    .nav_links li {
        padding: 0 20px;
    }
    
    .nav_links li a {
        font-size: 20px;
    }
    
    h2, p {
        width: 50%;
    }
    
    img {
        max-width: 50%;
    }
    
    p {
        width: 50%;
        font-size: large;
    }
}
