/* Estilo geral */
body {
    font-family: 'Poppins', sans-serif; /* Alteração da fonte para Poppins */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6; /* Espaçamento entre linhas aumentado */
}

a {
    color: #007bff;
    text-decoration: none;
}

/* Cabeçalho */
header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    gap: 15px;
}

nav a {
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 18px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

nav a:hover {
    background-color: #f0f0f0;
}

#signup-link {
    background-color: #ff4d4d;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s;
}

#signup-link:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}

/* Banner */
#banner {
    background-color: #3f51b5;
    color: #fff;
    padding: 80px 0;
    text-align: center;
}

#banner h2 {
    font-size: 3em;
}

#banner p {
    font-size: 1.5em;
    line-height: 1.5;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1.2em;
    margin: 10px;
    display: inline-block;
}

.btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Seções */
section {
    padding: 40px;
}

h2 {
    font-size: 2em;
    margin-bottom: 30px;
}

.feature {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.feature h3 {
    margin-bottom: 15px;
}

.feature p {
    font-size: 1.1em;
}


/* Galeria */
#gallery {
    text-align: center;
}

.spinner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    width: 350px;
    height: 250px;
    margin: 15px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Rodapé */
footer {
    background-color: #3f51b5;
    color: #fff;
    padding: 30px;
    text-align: center;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 10px;
    }

    nav a {
        font-size: 16px;
        padding: 10px 15px;
    }

    .btn {
        font-size: 1em;
        padding: 10px 20px;
    }
}
